<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Startowa</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
<div class="wrapper">
    <nav>
        <div class="nav">
            <div class="nav-name">
                <div class="name">PROSTE JAK DRUT</div>
            </div>
            <div class="nav-list">
                <ol>

                    <li><a href="#">Home</a></li>
                    <li><a href="#">Druty</a></li>
                    <li><a href="#">Robótki</a></li>
                    <li><a href="#">Włóczka</a></li>
                    <li><a href="#">O autorce</a></li>
                </ol>
            </div>

        </div>
    </nav>

    <div class="slider">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide-container"><img src="../static/image/koty.jpg">
                        <div class="slide-child">
                            <h2>Nagłówek</h2>
                            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                                poligraficznym.
                                Został po raz pierwszy użyty w XV w.
                                przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                                zaczął
                                być używany przemyśle elektronicznym,
                            </p>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="slide-container"><img src="../static/image/drzewo.jpg">
                        <div class="slide-child">
                            <h2>Nagłówek</h2>
                            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                                poligraficznym.
                                Został po raz pierwszy użyty w XV w.
                                przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                                zaczął
                                być używany przemyśle elektronicznym,
                            </p>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-container"><img src="../static/image/serce.jpeg">
                        <div class="slide-child">
                            <h2>Nagłówek</h2>
                            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                                poligraficznym.
                                Został po raz pierwszy użyty w XV w.
                                przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                                zaczął
                                być używany przemyśle elektronicznym,
                            </p>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </div>
    <div class="big-container">
        <div class="container">
            <header>
                <h1>HOME</h1>
            </header>
            <div id="home">
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/koty.jpg" style="width: 100%; height: 100%;">
                        <h2>Nagłówek</h2>
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                            poligraficznym.
                            Został po raz pierwszy użyty w XV w.
                            przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                            zaczął
                            być używany przemyśle elektronicznym,
                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/drzewo.jpg" style="width: 100%; height: 100%;">
                        <h2>Nagłówek</h2>
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                            poligraficznym.
                            Został po raz pierwszy użyty w XV w.
                            przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                            zaczął
                            być używany przemyśle elektronicznym,
                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/serce.jpeg" style="width: 100%; height: 100%;">
                        <h2>Nagłówek</h2>
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                            poligraficznym.
                            Został po raz pierwszy użyty w XV w.
                            przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                            zaczął
                            być używany przemyśle elektronicznym,
                        </p>
                    </div>
                </div>
                <div id="dodo1" style="display: none" class="article">
                    <div class="article-in">
                        <img src="../static/image/serce.jpeg" style="width: 100%; height: 100%;">
                        <h2>Nagłówek</h2>
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                            poligraficznym.
                            Został po raz pierwszy użyty w XV w.
                            przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                            zaczął
                            być używany przemyśle elektronicznym,
                        </p>
                    </div>
                </div>
                <div id="dodo2" style="display: none" class="article">
                    <div class="article-in">
                        <img src="../static/image/serce.jpeg" style="width: 100%; height: 100%;">
                        <h2>Nagłówek</h2>
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                            poligraficznym.
                            Został po raz pierwszy użyty w XV w.
                            przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                            zaczął
                            być używany przemyśle elektronicznym,
                        </p>
                    </div>
                </div>
                <div class="button-show">
                    <button id="home-show" class="btn third" type="submit">Pokaż więcej</button>
                </div>
            </div>
        </div>
        <div class="container">
            <header>
                <h1>DRUTY</h1>
            </header>
            <div id="druty">
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/foto1.jpg" style="width: 100%; height: 100%;">
                        <h2>Jakie druty na początek?</h2>
                        <p>To najczęściej zadawane pytanie, jakie słyszę. Pokażę Ci więc idealne druty do nauki i podam
                            nazwy najlepszych producentów. Nie będziemy rozmawiać o rodzajach drutów ani wchodzić w
                            szczegóły (o tym pisałam tutaj), ponieważ taka ilość wiedzy przytłoczy Cię i niewiele stąd
                            wyniesiesz. Konkrety, pamiętaj, konkrety!

                            Jakie są idealne druty na początek? W skrócie to:

                            1 para drutów
                            druty drewniane
                            z żyłką (80 cm)
                            dobrej jakości
                            w rozmiarze 4.0 – 6.0 mm
                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/foto2.png" style="width: 100%; height: 100%;">
                        <h2>1 para drutów, czyli nie kupuj wszystkiego naraz!</h2>
                        <p>Zanim wpadniesz w szał kupowania drutów i włóczek chcę, żebyś uniknęła kilku błędów.
                            Moich błędów!

                            Na początku nie wiedziałam, jakie druty wybrać, więc kupowałam je jak leciało. Była to
                            ciekawa forma edukacji, ale niestety również świetny sposób na wydanie dużej ilości
                            pieniędzy. Gdybym posiadała taką wiedzę o drutach, jaką mam teraz, w moim portfelu
                            z pewnością gościłoby parę stówek więcej. Dlatego na potrzeby nauki wystarczy Ci
                            jedna para drutów! Nie kupuj wszystkiego naraz, a w szczególności drogich zestawów,
                            bo nie masz pewności, czy to zajęcie dla Ciebie! Daj sobie czas, na takie zakupy przyjdzie
                            właściwy moment, obiecuję.

                            Dziś ograniczam się do jednego zestawów drutów wymiennych i kilku dodatkowych o innych
                            rozmiarach (o drutach wymiennych jeszcze opowiem). Nie używam zdecydowanej większości tego,
                            co kupiłam na początku.
                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/foto3.png" style="width: 100%; height: 100%;">
                        <h2>Druty proste czy z żyłką?</h2>
                        <p>Proste druty niewątpliwie są pomocne w opanowaniu podstaw dziergania i oczywiście możesz
                            kupić jedną parę na początek. Jednak prędzej czy później poznasz druty z żyłką (inaczej
                            druty okrągłe). Na początku wyda Ci się, że żyłka to problem, bo się majta. Ale po kilku
                            dniach używania nie będziesz mogła bez nich żyć!
                            Druty z żyłką są najbardziej uniwersalne spośród wszystkich rodzajów drutów. Zastąpią nie
                            tylko druty proste, ale również pończosznicze (to zestawy pięciu krótkich drutów, na których
                            można robić skarpetki lub rękawiczki).

                            Istnieje wiele różnych długości żyłek. Dla początkujących optymalne będą druty z żyłką
                            długości 80 cm. Zapewnią Ci one swobodę ruchów i nic nie będzie się plątało (jeśli masz
                            problem z ich znalezieniem, wybierz inną, zbliżoną długość żyłki, np. 60 lub 100 cm).

                            Ale to nie wszystko! W sklepach najczęściej znajdziesz druty z żyłką przytwierdzoną na
                            stałe. Istnieją jednak modele drutów, do których żyłkę możesz również przykręcić. To inaczej
                            druty wymienne. Jeśli chcesz, poszukaj jednej pary takich drutów i dobierz pasującą żyłkę
                            80 cm – za chwilę powiem, gdzie możesz je kupić.
                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/foto4.jpg" style="width: 100%; height: 100%;">
                        <h2>Czy jakość ma znaczenie?</h2>
                        <p>Lepiej kupić jedną drogą, ale dobrą parę drutów niż kilka tańszych, złej jakości. Dbaj więc
                            o komfort pracy i wybieraj najlepszy sprzęt!

                            Nie kupuj używanych drutów, których nie widzisz na żywo!

                            Takie druty mogą być:

                            krzywe (szczególnie cienkie druty proste)
                            mieć stępione czubki lub
                            sztywną nylonową żyłkę
                            A jeśli jesteś w lumpeksie i trafią Ci się okazja kupienia takich drutów, zwróć uwagę na te
                            trzy punkty. O ile krzywe druty nie są dramatem, to tępe czubki będą Twoim gwoździem do
                            trumny. Nylonowe żyłki zaś dobrze pamiętają czasy PRL-u. Są sztywne, przez co dzierganie
                            stanie się nieprzyjemne. Po co się męczyć i zniechęcać na samym początku?
                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/foto6.jpg" style="width: 100%; height: 100%;">
                        <h2>Producenci drutów</h2>
                        <p>Druty jakich producentów używam? Jakie są polecane przez inne dziewiarki? Oto lista najlepiej
                            ocenianych producentów:

                            DROPS (sam w sobie nie jest producentem drutów)
                            KnitPro
                            Lykke
                            HiyaHiya
                            ChiaoGoo
                            Addi
                            Od kilku lat używam drutów DROPS, a konkretnie zestawu brzozowych drutów wymiennych
                            Pro Romance (3,5 mm – 8 mm). Druty te możesz kupić również pojedynczo, co zalecam każdej
                            początkującej dziewiarce.

                            Jeśli chodzi o KnitPro, to druty te są kompatybilne z drutami wymiennymi DROPS.
                            Znacznie lepiej od poprzednich są oceniane druty producentów HiyaHiya i ChiaoGoo, choć nie
                            można ich ze sobą łączyć. Druty wymienne Addi mają wtyczkę typu click i nie słyszałam
                            jeszcze, by ktokolwiek na nie narzekał, jednak cena jednej pary jest zawrotna
                            (nawet 120 zł!). Dlatego na początek polecam Ci druty „tańszych” firm (ale wciąż dobrych
                            jakościowo), jak DROPS czy KnitPro, z których sama korzystam.


                        </p>
                    </div>
                </div>
                <div class="article">
                    <div class="article-in">
                        <img src="../static/image/foto5.png" style="width: 100%; height: 100%;">
                        <h2>Rozmiar ma znaczenie?</h2>
                        <p>To jedna z najbardziej dyskusyjnych kwestii, jeśli mamy na myśli rozmiar drutów oczywiście.
                            I choć jesteśmy w stanie nauczyć się dziergać nawet na patyczkach do szaszłyka, to na
                            początek polecam Ci rozmiar 5 mm, jak również 4.0, 4.5 i 6.0 mm. To druty średniej
                            wielkości. Na takich rozmiarach sama uczyłam się dziergać. Za chwilę pokażę, gdzie możesz
                            je kupić.
                            Wiele osób poleca też mniejsze rozmiary drutów, np. 3.5 mm. Jednak w tym wypadku narobisz
                            ię w nieskończoność, zanim zobaczysz efekty swojej nauki. To nie motywuje do dalszej pracy.
                            Dodatkowo trudniej będzie Ci odróżnić oczka prawe od przekręconych czy lewych (na początku
                            nie będziesz odróżniać jednych od drugich i to jest normalne).

                            Jeśli jesteś wybitnie niecierpliwa, szukaj większych drutów i grubszej włóczki.
                            Z rozmiarami 8.0 – 9.0 mm Twoja robótka będzie wprost rosła jak na drożdżach! Co prawda na
                            początku może być Ci trudniej trzymać takie druty w dłoniach, jednak jest to wyłącznie
                            kwestia przyzwyczajenia.

                            Przykładowo „Make a Wish!” to zestaw do nauki dziergania, w którym pracujemy z drutami
                            w rozmiarze 9 mm. Czapkę ze zdjęcia niżej zrobiłam w nieco ponad 2 godziny, a szalik
                            w 1 dzień (Tobie zajmie to nieco dłużej, ale nie stresuj się tym faktem, przecież dopiero
                            zaczynasz swoją przygodę z dzierganiem!).
                        </p>
                    </div>
                </div>
                <div class="button-show">
                    <button id="druty-show" class="btn third" type="submit">Pokaż więcej</button>
                </div>
            </div>
        </div>
        <div class="container">
            <header>
                <h1>ROBÓTKI</h1>
            </header>
            <div id="robótki">
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto8.png" style="width: 100%; height: 100%;">
                    <h2>Jak nabierać oczka</h2>
                    <p>Tstnieją różne sposoby nabierania oczek. Chcielibyśmy Wam pokazać najbardziej powszechną metodę,
                        brzeg wykonany w ten sposób będzie jednocześnie zwarty i rozciągliwy.

                        Nie należy zbyt ściskać oczek podczas ich nabierania. Jeżeli poczujecie, że brzeg jest zbyt
                        ścisły, zawsze można użyć grubszych drutów, lub nabierać na dwóch drutach. Nie zapomnijcie
                        jednak, aby z powrotem wziąć właściwe druty do pracy nad robótką.

                        Zdjęcie 1: Zaczynamy od zmierzenia długości nitki od końca motka (długość nitki zależy od
                        liczby nabieranych oczek, grubości nitki i rozmiaru drutów). Przytrzymać końcówkę nitki kciukiem
                        i nawinąć nitkę wokół palców wskazującego i środkowego.

                        Zdjęcie 2: Przeciągnąć nitkę z motka przez pętelkę (powstałą wokół palców wskazującego i
                        środkowego) od tyłu do przodu.

                        Zdjęcie 3: Pociągnąć za nitkę, tak aby powstało długie oczko.

                        Zdjęcie 4: Wsunąć oczko na drut i pociągnąć za nitkę zaciskając oczko. Można zacząć nabierać
                        oczka.

                        Zdjęcie 5: Nawinąć koniec nitki wokół lewego kciuka jak na zdjęciu. Nitka z kłębka powinna
                        przechodzić ponad lewym palcem wskazującym, obie nitki przytrzymać przy dłoni za pomocą małego
                        i serdecznego palca.

                        Zdjęcie 6: Wsunąć końcówkę prawego drutu pod nitkę na kciuku.

                        Zdjęcie 7: Aby powstało oczko, przełożyć koniec prawego drutu przez pętelkę na kciuku i złapać
                        nitkę z motka (z palca wskazującego).

                        Zdjęcie 8: Spuścić pętelkę z kciuka na prawy drut. Jedno oczko zostało właśnie nabrane.
                        Pociągnąć nitkę i z powrotem nawinąć nitkę na kciuk. Pozostałe oczka nabierać w taki sam sposób.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto9.png" style="width: 100%; height: 100%;">
                    <h2>Jak przerabiać oczka prawe</h2>
                    <p>A teraz do pracy! Czyli jak przerabiać oczka prawe:

                        Zdjęcie 1: Trzymać drut z oczkami w lewej ręce. Nitkę z motka nawinąć na lewy palec wskazujący
                        i przytrzymywać ją w dłoni za pomocą małego i serdecznego palca. Prawy palec wskazujący umieścić
                        blisko czubka prawego druta. Nitka między drutem i palcem wskazującym powinna być lekko napięta,
                        a podczas przerabiania oczek prawych powinna znajdować się za robótką.

                        Zdjęcie 2: Aby wykonać nowe oczko, wbić prawy drut w 1-sze oczko na lewym drucie.

                        Zdjęcie 3: Za pomocą lewego palca wskazującego umieścić nitkę na prawym drucie LUB skręcić
                        czubek prawego drutu w prawo, pod nitką, łapiąc nitkę z lewego palca wskazującego.

                        Zdjęcie 4: Przeciągnąć nitkę przez oczko za pomocą czubka prawego drutu.

                        Zdjęcie 5: Teraz mamy nowe oczko na prawym drucie, ale oczko poprzedniego rzędu jest wciąż na
                        lewym drucie.

                        Zdjęcie 6: Zsunąć oczko poprzedniego rzędu z lewego drutu i lekko pociągnąć nitkę za nowym
                        oczkiem.

                        Zdjęcie 7: Dalej postępować tak samo, aż zostaną przerobione wszystkie oczka z lewego drutu,
                        a wszystkie nowe oczka będą znajdować się na prawym drucie.

                        Zakończyliśmy w ten sposób 1-szy rząd oczek prawych. Obrócić robótkę, wziąć drut z oczkami
                        w lewą rękę i zacząć przerabiać nowy rząd oczek prawych prawym drutem.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto11.png" style="width: 100%; height: 100%;">
                    <h2>Jak przerabiać oczka lewe</h2>
                    <p> Zdjęcie 1: Trzymać drut z oczkami w lewej ręce. Ułożyć nitkę ponad drutem i lewym palcem
                        wskazującym i przytrzymywać ją w dłoni za pomocą małego i serdecznego palca. Aby przerabiać
                        oczka lewe nitka powinna zawsze znajdować się przed lewym drutem.

                        Zdjęcie 2: Wbić prawy drut w 1-sze o. od tyłu do przodu , aby wykonać nowe oczko lewe –
                        pamiętać, aby nitka znajdowała się zawsze z przodu.

                        Zdjęcie 3: Nitkę z palca wskazującego umieścić ponad prawym drutem.

                        Zdjęcie 4: Czubkiem prawego drutu przeciągnąć nitkę przez oczko.

                        Zdjęcie 5: Teraz mamy nowe oczko na prawym drucie, ale oczko poprzedniego rzędu jest wciąż na
                        lewym drucie.

                        Zdjęcie 6: Zsunąć oczko poprzedniego rzędu z lewego drutu i lekko pociągnąć nitkę za nowym
                        oczkiem.

                        Zdjęcie 7: Dalej postępować tak samo, aż zostaną przerobione wszystkie oczka z lewego drutu,
                        a wszystkie nowe oczka będą znajdować się na prawym drucie.

                        Zakończyliśmy w ten sposób 1-szy rząd oczek lewych. Obrócić robótkę, wziąć drut z oczkami
                        w lewą rękę i zacząć przerabiać nowy rząd oczek lewych prawym drutem.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto13.png" style="width: 100%; height: 100%;">
                    <h2>Dodawanie oczek</h2>
                    <p> Pokazujemy jak dodać oczko nabierając nitkę między 2 oczkami poprzedniego rzędu. Pod nowym
                        oczkiem powstanie mała dziurka:

                        Zdjęcie 1: Przerobić oczka do miejsca, gdzie chcemy dodać oczko.

                        Zdjęcie 2: Wbić czubek lewego drutu od przodu do tyłu i nabrać nitkę między oczkiem na lewym
                        drucie i oczkiem na prawym drucie.

                        Zdjęcie 3: W ten sposób na lewym drucie pojawia się nowe oczko.

                        Zdjęcie 4: Wbić prawy drut w nowe oczko tak jakby było przerabiane na prawo i przeciągnąć nitkę
                        przez oczko.

                        Zdjęcie 5: Nowe oczko zostało przerobione i jest teraz na prawym drucie, można je spuścić
                        z lewego drutu.

                        Zdjęcie 6: Przerobić następne oczko z lewego drutu.

                        Zdjęcie 7: Po przerobieniu kilku rzędów na prawej stronie robótki, w miejscu gdzie było dodawane
                        oczko, można zobaczyć małą dziurkę.

                        Dodając oczka w ten sposób, możemy nadać robótce pożądany kształt. Dziurka nie będzie duża,
                        ale będzie oznaczeniem dodawania oczek.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto15.png" style="width: 100%; height: 100%;">
                    <h2>Jak dodawać oczka na końcu rzędu</h2>
                    <p>Aby nadać robótce pożądany kształt można nabierać nowe oczka na końcu rzędu, np. na rękawy.
                        Przerabiamy następująco:

                        Zdjęcie 1: Przerobić rząd i drut z oczkami zostawić w prawej ręce. Nitkę z motka nałożyć na lewy
                        palec wskazujący.

                        Zdjęcie 2: Prawy drut umieścić pod 2 nitkami.

                        Zdjęcie 3: Wyjąć drut chwytając dolną nitkę i przekładając ją za górną nitką – patrz zdjęcie.
                        Teraz mamy nowe oczko na prawym drucie.

                        Zdjęcie 4: Pociągnąć oczko za pomocą prawego drutu, lekko zacisnąć nitkę z motka i spuścić oczko
                        z palca wskazującego (nie zaciskać zbyt mocno, aby w następnym rzędzie oczko dało się swobodnie
                        przerabiać).

                        Zdjęcie 5: Powtarzać tak długo, aż zostanie nabranych tyle oczek ile jest w objaśnieniach
                        do wzoru.

                        Można w ten sposób nabierać nowe oczka na końcu rzędu, korzystając tylko z nitki z motka.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto17.png" style="width: 100%; height: 100%;">
                    <h2>Zamykanie oczek</h2>
                    <p>Jeżeli chcemy dopasować robótkę np. na podkrój rękawa, dekolt lub talię, można to łatwo osiągnąć
                        zamykając oczka. Podczas zamykania oczek w miejscu markerów lub przy oczkach brzegowych,
                        przerabiamy na prawej stronie robótki następująco:

                        Zdjęcie 1: Przerabiać rząd, aż do oczka, które ma być zamknięte, na zdjęciu zamykamy oczko
                        w odległości 4 o. od brzegu.

                        Zdjęcie 2: Wbić prawy drut w 2 następne oczka na lewym drucie, tak jakby miały być przerabiane
                        na prawo: wbić drut od lewej do prawej, najpierw w drugie oczko, następnie w pierwsze z oczek na
                        lewym drucie.

                        Zdjęcie 3: Umieścić nitkę z motka ponad czubkiem prawego drutu, tak samo jak to robimy aby
                        przerobić 1 o. prawe, i przeciągnąć nitkę przez 2 oczka. Jest teraz nowe oczko na prawym drucie.

                        Zdjęcie 4: Spuścić 2 oczka z lewego drutu. Te 2 oczka zostały przerobione razem i teraz powstało
                        tylko 1 oczko za 4 o. od brzegu na prawym drucie.

                        Zdjęcie 5: Przerobić pozostałe oczka w rzędzie. Jest teraz o 1 oczko mniej w porównaniu do
                        poprzedniego rzędu.

                        Zdjęcie 6: Oto jak łatwo można dopasować robótkę!
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto19.png" style="width: 100%; height: 100%;">
                    <h2>Zamykanie oczek na prawej stronie robótki</h2>
                    <p>Gdy zamykamy oczka pamiętajmy aby nie robić tego ani za luźno, ani za ścisło.
                        Można również użyć drutów o większym rozmiarze przy zamykaniu oczek, aby mieć pewność, że brzeg
                        będzie wystarczająco rozciągliwy.

                        Zdjęcie 1: Przerobić 2 oczka na prawo.

                        Zdjęcie 2: Jest teraz 2 oczka na prawym drucie.

                        Zdjęcie 3: Wbić lewy drut w oczko, które znajduje się na skraju (po prawej stronie) na prawym
                        drucie.

                        Zdjęcie 4: Przełożyć to oczko ponad drugim oczkiem (1-sze oczko na drucie).

                        Zdjęcie 5: Zostaje teraz tylko 1 oczko na prawym drucie.

                        Zdjęcie 6: Przerobić jeszcze 1 oczko i ponownie wbić lewy drut w oczko znajdujące się na skraju
                        po prawej stronie na prawym drucie.

                        Zdjęcie 7: Przełożyć to oczko nad drugim oczkiem. Dalej przerabiać tak samo, aż zostaną
                        zamknięte wszystkie oczka. Możesz dalej przerabiać na prawo pozostałe oczka na lewym drucie lub zamknąć wszystkie oczka.

                        Zdjęcie 8: Zostaje teraz tylko 1 o. na prawym drucie, to ostatnie oczko twojej robótki.

                        Zdjęcie 9: Odciąć nitkę i przeciągnąć ją przez pętelkę (= ostatnie oczko). Teraz można wrobić
                        nitkę.

                        Tej techniki można użyć, gdy kończymy robótkę, np. wykonując szal, albo gdy musimy zamknąć oczka
                        na prawej stronie robótki.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto21.png" style="width: 100%; height: 100%;">
                    <h2>Zamykanie oczek na lewej stronie robótki</h2>
                    <p>Gdy zamykamy oczka pamiętajmy aby nie robić tego ani za luźno, ani za ścisło.
                        Można również użyć drutów o większym rozmiarze przy zamykaniu oczek, aby mieć pewność, że brzeg
                        będzie wystarczająco rozciągliwy.

                        Zdjęcie 1: Przerobić 2 oczka lewe.

                        Zdjęcie 2: Jest teraz 2 oczka na prawym drucie. Wbić lewy drut w oczko, które znajduje się na
                        skraju (po prawej stronie) na prawym drucie.

                        Zdjęcie 3: Przełożyć to oczko ponad drugim oczkiem (1-sze oczko na drucie). Zostaje teraz tylko
                        1 oczko na prawym drucie.

                        Zdjęcie 4: Przerobić jeszcze 1 oczko lewe.

                        Zdjęcie 5: Jest teraz 2 oczka na prawym drucie.

                        Zdjęcie 6: Wbić lewy drut w oczko znajdujące się na skraju po prawej stronie na prawym drucie.

                        Zdjęcie 7: Przełożyć to oczko nad drugim oczkiem. Dalej przerabiać tak samo, aż zostaną
                        zamknięte wszystkie oczka. Możesz dalej przerabiać na lewo pozostałe oczka na lewym drucie lub
                        zamknąć wszystkie oczka.

                        Zdjęcie 8: Zostaje teraz tylko 1 o. na prawym drucie, to ostatnie oczko twojej robótki.

                        Zdjęcie 9: Odciąć nitkę i przeciągnąć ją przez pętelkę (= ostatnie oczko). Teraz można wrobić
                        nitkę.

                        Tej techniki można użyć, gdy kończymy robótkę, albo gdy musimy zamknąć oczka na lewej stronie
                        robótki.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto23.png" style="width: 100%; height: 100%;">
                    <h2>Jak złapać spuszczone oczko prawe?</h2>
                    <p>Jeżeli przerabiamy na prawo na prawej stronie robótki i spuścimy oczko, nic straconego, pokażemy
                        wam jak je złapać, tak aby nic nie było widać.

                        Zdjęcie 1: Zgubiłaś oczko prawe w środku robótki.

                        Zdjęcie 2: Oczko jest spuszczone jeden rząd niżej. Złapać oczko prawym drutem. To oczko będzie
                        teraz przerobione na prawo nitką, która znajduje się za nim. Złapać nitkę prawym drutem.

                        Zdjęcie 3: Wbić lewy drut w oczko, które zostało nabrane.

                        Zdjęcie 4: Przełożyć zgubione oczko ponad nitką.

                        Zdjęcie 5: Zgubione oczko jest teraz na prawym drucie.

                        Zdjęcie 6: Zsunąć to oczko na lewy drut.

                        Zdjęcie 7: Teraz można przerabiać jak wcześniej.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto25.png" style="width: 100%; height: 100%;">
                    <h2>Jak złapać oczko spuszczone kilka rzędów niżej?</h2>
                    <p>Jeżeli przerabiamy na prawo na prawej stronie robótki i spuścimy oczko o kilka rzędów, nic
                        straconego, pokażemy wam jak je złapać, tak aby nic nie było widać.

                        Zdjęcie 1: Zgubiłaś oczko prawe w swojej robótce, które spruło się o kilka rzędów. Pomoże
                        nam szydełko.

                        Zdjęcie 2: Wbić szydełko w spuszczone oczko.

                        Zdjęcie 3: Za pomocą szydełka złapać 1-szą nitkę za tym oczkiem.

                        Zdjęcie 4: Przeciągnąć nitkę przez oczko. Jeden rząd jest gotowy.

                        Zdjęcie 5: Złapać następną nitkę za oczkiem.

                        Zdjęcie 6: Przeciągnąć nitkę przez oczko, kolejny rząd został poprawiony. Dalej postępować tak
                        samo, aż wszystkie rzędy będą gotowe.

                        Zdjęcie 7: Przełożyć oczko na lewy drut.

                        Zdjęcie 8: W ten sposób zostało złapane spuszczone oczko i dalej można przerabiać dżersejem
                        jak wcześniej.
                    </p>
                </div>
            </div>
            <div class="button-show">
                <button type="submit">Pokaż więcej</button>
            </div>
        </div>
        <div class="container">
            <header>
                <h1>WŁÓCZKA</h1>
            </header>
            <div id="włóczka">
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto27.jpg" style="width: 100%; height: 100%;">
                    <h2>WŁÓCZKI NATURALNE POCHODZENIA ZWIERZĘCEGO</h2>
                    <p>WEŁNA – włóczka wełniana idealnie pasuje do wyrobów na zimne dni: swetry, szale, czapki zrobione
                        z wełny będą grzały i nie pozwolą nam zmarznąć. Choć często uważa się, że włóczki wełniane
                        gryzą, nie można tego powiedzieć o każdej wełnie. Włóczka wełniana pozyskiwana jest z sierści
                        zwierząt, przez co wyróżniamy kilka jej rodzajów,  różniących się właściwościami:

                        → WEŁNA OWCZA:

                        • szetlandzka – gęsta i mocna pozyskiwana z owiec żyjących na wyspach szetlandzkich.

                        • wełna merynosów – bardzo delikatna, miła w dotyku, puszysta, niegryząca! Pozyskiwana z owiec
                        żyjących w Australii i Nowej Zelandii.

                        → WEŁNA KOZIA:

                        • moher – powstaje z kozy angorskiej. Jest lekki, puszysty, delikatny – dobrze pasuje na szale
                        i chusty.

                        • kaszmir – z wełny kóz kaszmirskich – jedno z najdroższych włókien kojarzy się z
                        ekskluzywnością, ponieważ z jednej kozy pozyskuje się bardzo mało wełny. Wyroby kaszmirowe są
                        miękkie, lekkie, ale ciepłe, produkty bardzo dobrze się układają.

                        → WEŁNA Z ALPAK – cienka, miękka, delikatna, jest dobrym rozwiązaniem dla alergików. Jest
                        również wytrzymała.

                        → WEŁNA KRÓLICZA – angora – z królika angorskiego. Jest cienka i delikatna. (Zauważ, że angora
                        powstaje z królika angorskiego, natomiast z wełny kozy angorskiej powstaje moher!)

                        JEDWAB – powstaje z włókna wytwarzanego przez poczwarkę jedwabnika. Bardzo delikatny i
                        jednocześnie ciepły. Miękki i przyjemny w szydełkowaniu, jednak łatwo ulega zniszczeniu
                        zwłaszcza przy dużym wystawieniu na działanie promieni słonecznych. Włóczka ta źle reaguje też
                        na prucie i przerabianie jednego motka kilka razy, dlatego przy pracy z nią lepiej nie popełniać
                        błędów. Z wyrobami z jedwabiu lepiej obchodzić się delikatnie, zwłaszcza, że materiał ten nie
                        należy do najtańszych.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto28.jpg" style="width: 100%; height: 100%;">
                    <h2>WŁÓCZKI NATURALNE POCHODZENIA ROŚLINNEGO</h2>
                    <p>LEN – włóczki lniane są mało elastyczne, dość sztywne i wytrzymałe. Nadają się na wyroby letnie,
                        gdyż mają właściwości chłodzące, a dodatkowo antyalergiczne.

                        BAWEŁNA – jeden z najpopularniejszych rodzajów włóczek wykonany z włókien bawełny. Nie ulega
                        mechaceniu, jest wytrzymała, miła i gładka w dotyku. Można ją wykorzystywać do różnego rodzaju
                        robótek – od zabawek po ozdoby do domu.

                        BAMBUS – włóczki bambusowe powstają z włókien celulozy pozyskiwanej z bambusa. Choć więc ich
                        pochodzenie jest naturalne, zostają wcześniej poddane procesom chemicznym. Włóczki te są
                        miękkie, delikatne, rozciągliwe i świetnie przepuszczają powietrze i doskonale chłodzą. Są miłe
                        w dotyku, niegryzące i posiadają delikatny połysk.
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article-in">
                    <img src="../static/image/foto29.jpg" style="width: 100%; height: 100%;">
                    <h2>WŁÓCZKI SYNTETYCZNE</h2>
                    <p>AKRYL – akryl nie ma najlepszej opinii wśród dziewiarek, choć jest włóczką bardzo popularną,
                        prawdopodobnie ze względu na niską cenę i bardzo dużą gamę kolorystyczną. Rzeczywiście,
                        włóczki akrylowe są przeważnie bardzo tanie, a można je dostać praktycznie wszędzie.
                        Nie uczulają i mogą być prane w pralce, przez co można ich używać np. do szydełkowania zabawek.
                        Wady akrylu to przede wszystkim: nie przepuszcza powietrza, może się mechacić i skrzypieć
                        podczas szydełkowania. Musisz jednak pamiętać, że włóczka włóczce nierówna – mogą być akryle tak
                        skrzypiące podczas pracy, że włos się jeży na głowie. Są i takie, z którymi szydełkuje się
                        całkiem przyjemnie – wszystko jest kwestią gustu i upodobań. Tak czy siak, każdą włóczkę
                        najlepiej dotknąć, da to najlepszą wiedzę na jej temat.

                        POLIESTER – włóczki, w których składzie znajdziemy poliester, to przede wszystkim włóczki
                        fantazyjne, często o futerkowym charakterze, miłe w dotyku i dość miękkie. Bardzo dobrze
                        sprawdzają się podczas szydełkowania zabawek, a prym wiedzie tu dobrze wszystkim znana włóczka
                        Himalaya Dolphin Baby. Jest mięciutka, delikatna i puszysta, dzięki czemu wszelkie przytulanki
                        wychodzą uroczo!
                    </p>
                </div>
            </div>
            <div class="button-show">
                <button type="submit">Pokaż więcej</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <header>
        <h1>O AUTORCE</h1>
    </header>
    <div id="o autorce">
        <div class="article">
            <div class="article-in">
                <img src="../static/image/foto1.jpg" style="width: 100%; height: 100%;">
                <h2>JAK ZACZĘŁAM (MANIAKALNIE) ROBIĆ NA DRUTACH</h2>
                <p>Odkąd sięgam pamięcią moją wielką pasją było robienie na drutach. Potrafię też szydełkować, haftować
                    i szyć na maszynie. Wiem, że dzisiaj te umiejętności wydają się staromodne i zupełnie do życia
                    niekonieczne (ubrań się nie naprawia tylko wyrzuca i kupuje nowe), ale w czasach kiedy dorastałam
                    wiele dziewczyn „robiło” sobie ciuchy, bo po prostu niczego fajnego nie można było dostać
                    w sklepach. W wielkich garach na maleńkich kuchenkach mieszkań w blokach farbowałyśmy pieluchy
                    tetrowe (doprowadzając tym do szału nasze matki), szyłyśmy spódnice i bluzki, robiłyśmy swetry
                    i biżuterię. Ja „wyprodukowałam” sobie kiedyś nawet espadryle (plecionka plus płótno żeglarskie)
                    – wszak o tym, co jest modne donosiły nam kolejne numery „Filipinki” oraz gazetki z wzorami
                    i wykrojami, które przedrukowywały zdjęcia z zachodnich czasopism. A my chciałyśmy wyglądać
                    dokładnie jak te zachodnie dziewczyny.

                    BABCIA ZOSIA
                    Ale wracajmy do drutów. O tym, że są tylko dwa rodzaje oczek (prawe i lewe) dowiedziałam się od
                    babci Zosi. Pokazała mi jak nabierać nitkę na druty, żeby zacząć robótkę i wyjaśniła „jak ona robi
                    te lewe, żeby wychodziły równiutko” (ten perfekcjonizm mam chyba po niej). Podarowała mi pierwszy
                    komplet drutów i jakąś wełnę na start i zaczęłam eksperymentować. Szybko odkryłam, że prawe oczko
                    od lewej strony jest lewym i na odwrót, i że wszystkie wzory składają się wyłącznie z oczek prawych
                    i lewych (dlatego uważam, że robienie na drutach jest trochę jak programowanie komputerowe).
                    Nie wiem ile mogłam mieć lat, kiedy zaczynałam moją przygodę z dzianiną (może dwanaście?),
                    w każdym razie pod koniec podstawówki zrobiłam sobie pierwszy sweter, a w liceum dziergałam już
                    regularnie.

                    SEKSMISJA I WEŁNA
                    Kiedy miałam piętnaście lat pojechałam na wycieczkę do NRD. Mieszkaliśmy w jakimś ośrodku
                    wakacyjnym, a jedną z atrakcji było zwiedzanie Frankfurtu nad Odrą. Co pamiętam z tamtego wyjazdu?
                    Tylko dwie rzeczy, najwidoczniej musiały zrobić na mnie kolosalne wrażenie. Pierwsza z nich to
                    plakaty z filmem „Seksmisja” Juliusza Machulskiego wiszące w witrynach niemieckich kin (ależ byłam
                    dumna, że polski film wyświetlają na Zachodzie!), a druga to wizyta w sklepie z wełną (w Polsce nie
                    było wtedy nic, a w NRD od towaru uginały się półki). Po długiej wewnętrznej walce stoczonej pośród
                    wielobarwnych motków (tyrania wyboru) kupiłam białą, różową i turkusową włóczkę (ich resztki mam do
                    dzisiaj), a w drodze powrotnej fantazjowałam, czego to ja sobie z nich nie zrobię!

                    DRUTUJE I PRUJE
                    Kiedy swetry z niemieckiej włóczki zostały już wydziergane, zabrałam się do ich… prucia. Tak, tak!
                    Przecież nie chodziło wcale o zrobienie i noszenie, tylko o robienie ciągle na nowo. Interesował
                    mnie proces twórczy, czyli etap od pomysłu w głowie do gotowego wyrobu, a już samo jego noszenie
                    mniej (chociaż może to błąd, bo podobno „mężczyźni wolą kobiety, które noszą obcisłe sweterki
                    od tych, które je robią”). Surowca wtedy nie było, więc przerabiało się stare swetry na nowe.
                    Moje młodsze siostry doniosły nawet kiedyś jednemu z moich narzeczonych, że „Monika ciągle drutuje
                    i pruje”, a powiedzonko weszło do zbioru rodzinnych anegdotek.

                    ZAPŁACIŁAM, TO MOJE!
                    Moja mama miała już dość tego prucia i pewnego dnia oświadczyła, że kupuje ode mnie biały sweter
                    w turkusowe kwiaty, który właśnie zamierzałam przerobić na coś nowego. „Teraz jest mój i nie możesz
                    go spruć” – powiedziała, więc musiałam rozejrzeć się za nowym źródłem surowca do produkcji.
                    Koleżanka poinformowała mnie, że jej ojciec dostał w pracy jakieś talony i jeśli dołożę do tego bony
                    za makulaturę mogę kupić sobie wełnę w sklepie dla wojskowych. Wyobrażacie sobie takie ceregiele
                    dzisiaj? Wtedy jednak byłam tak uszczęśliwiona tymi talonami, że natychmiast po nocy pojechałam
                    autobusem na drugi koniec miasta po tę wełnę. Pamiętam do dzisiaj, że była granatowa. Granatowa jak
                    tamta noc…

                    PIERWSZE AUDIOBOOKI
                    W latach dziewięćdziesiątych audiobooków jeszcze nie wymyślono, ale były już ich prototypy: książki
                    czytane na głos dla osób niedowidzących nagrane na kasetach magnetofonowych – cała klasyka dostępna
                    w osiedlowej bibliotece. Byłam stałą i wdzięczną czytelniczką-słuchaczką. W liceum wszystkie lektury
                    przeczytałam (odsłuchałam) machając w tym czasie na drutach. Teraz też nie słucham książek i nie
                    oglądam filmów „bezczynnie” – muszę mieć ręce zajęte jakąś robótką. Klasyfikuję nawet filmy według
                    stopnia trudności – „drutowy” to raczej prosta historia, można spokojnie robić w czasie jej
                    oglądania nawet najbardziej wymagające wzory, a „niedrutowy” to na przykład „Incepcja” – odpadłam
                    po pierwszych scenach, bo zamiast wpatrywać się w ekran raz po raz zerkałam na druty i szybko
                    pogubiłam się w fabule.

                    CO TO ZNACZY MANIAKALNIE ROBIĆ NA DRUTACH?
                    To znaczy kończyć jedną robótkę i zaraz zaczynać kolejną, albo robić kilka projektów naraz. Dziergać
                    oglądając telewizję, podczas rozmowy telefonicznej z teściową, w czasie jazdy samochodem na wakacje
                    (do samolotu niestety nie wpuszczają). Kiedyś nawet zdarzyło mi się robić na drutach na obozie
                    pływackim – pijąc kawę przed porannym treningiem „rozbudzałam się” machając drutami.
                    „Rozgrzewam ramiona” – wyjaśniłam Mężowi wpatrującemu się we mnie z drwiącym uśmieszkiem.
                    Nie dziergałam jeszcze tylko w miejscu publicznym, ale myślę, że to tylko kwestia czasu.
                    Uzależnienie „drutowe” objawia się także tym, że potrafię godzinami oglądać projekty dzianin
                    w internecie (inspiracja) i przebywać nieskończoną ilość czasu w sklepie z wełną (Mąż ma tak w
                    rowerowym).

                    ZABOBONY
                    Z robieniem na drutach są związane pewne tradycje czy wierzenia np. kobiety z północy dziergając
                    swetry dla swoich mężczyzn zawsze wplatały we wzór swój włos, na szczęście. Ja nie jestem przesądna
                    (nie wypada mi, bo urodziłam się trzynastego w piątek :)), ale mam jeden przesąd związany
                    z robieniem na drutach. W przeszłości, kiedy wręczałam sweter własnej roboty swojemu aktualnemu
                    chłopakowi, nasz związek zaraz potem się rozpadał (odkochiwałam się). To właśnie z tej przyczyny
                    do tej pory nie zrobiłam ani jednego swetra Mężowi. Czapkę czy szalik, owszem tak, niejeden,
                    ale swetra nie. Kupiłam co prawda wełnę (bo się dopytywał), ale jakoś mnie do tego projektu
                    nie ciągnie.

                    CO SIĘ OPŁACA
                    Robienie na drutach w dzisiejszych czasach kompletnie się nie opłaca. Koszt prawdziwej wełny
                    i koszt robocizny sprawiają, że własnoręcznie stworzona dzianina wychodzi drogo. Stephanie
                    Pearl-McPhee (pisarka i knitterka jak ja!) powiedziała, że „Sto lat temu kupowanie tego, co można
                    było zrobić samemu było postrzegane jako marnotrawstwo. Teraz jako marnotrawstwo postrzega się
                    robienie czegoś, co można kupić. Nie jestem pewna czy to krok w dobrym kierunku”. Cóż, zgadzam się
                    z jej słowami, widocznie jestem dziewczyną ze starych czasów.

                    BABCIA JÓZIA
                    Na początku napisałam, że babcia Zosia nauczyła mnie robić na drutach (a także szyć) i zawsze to ją
                    kojarzyłam z różnymi umiejętnościami rękodzielniczymi. Kilka lat temu kiedy byłam z wizytą u mojej
                    drugiej babci Józi okazało się, że jest ona autorką wełnianych chust robionych na szydełku.
                    „Nauczyłam się w sanatorium od jednej pani, pokażę ci, to bardzo proste” (wcześniej swoimi
                    umiejętnościami babcia się nie chwaliła). Pożyczyłam od niej wtedy jedną z chust „na wzór”.
                    Tak jej powiedziałam, ale tak naprawdę chciałam mieć coś, co należało do niej. Babcie zmarły
                    w przeciągu ostatnich lat, obydwie dożyły prawie setki. Cieszę się, że mam coś po nich i nie chodzi
                    tylko o chustę babci Józi i druty babci Zosi. Mam po nich umiejętności i pasję, i już dzisiaj
                    doskonale wiem, co będę robiła zbliżając się do swoich setnych urodzin.
                </p>
            </div>
        </div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script async src="../static/js/app.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 3000,
            speed: 500,
            disableOnInteraction: false,
        },
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },


    });
</script>
</body>
</html>