<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Startowa</title>


    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
<div class="wrapper">
    <nav>
        <div class="nav">
            <div class="nav-name">
                <div class="name">PROSTE JAK DRUT</div>
            </div>
            <div class="nav-list">
               <ol>

                <li><a href="#">Home</a></li>
                <li><a href="#">Druty</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Nowinki</a></li>
                <li><a href="#">O autorach</a></li>
            </ol>
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide-container"><img src="../static/image/koty.jpg">
                        <div class="slide-child">
                            <h2>Nagłówek</h2>
                            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                                poligraficznym.
                                Został po raz pierwszy użyty w XV w.
                                przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                                zaczął
                                być używany przemyśle elektronicznym,
                            </p>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="slide-container"><img src="../static/image/drzewo.jpg">
                        <div class="slide-child">
                            <h2>Nagłówek</h2>
                            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                                poligraficznym.
                                Został po raz pierwszy użyty w XV w.
                                przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                                zaczął
                                być używany przemyśle elektronicznym,
                            </p>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-container"><img src="../static/image/serce.jpeg">
                        <div class="slide-child">
                            <h2>Nagłówek</h2>
                            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
                                poligraficznym.
                                Został po raz pierwszy użyty w XV w.
                                przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
                                zaczął
                                być używany przemyśle elektronicznym,
                            </p>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 3000,
            speed: 500,
            disableOnInteraction: false,
        },
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },


    });
</script>
</body>
</html>