* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #fffff0;
}

.wrapper {
    width: 100%;
}

.nav {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background: #fffff0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.slide-container {
    position: relative;
}

.slide-child {
    width: 200px;
    position: absolute;
    top: 150px;
    left: 100px;
    color: #fffff0;
}

.swiper {
    width: 100%;
    height: fit-content;

}

.swiper-slide img {
    padding-left: 0;
    width: 100%;

}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.nav {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    justify-content: left;

}

.nav-name {
    margin-left: 100px;
    text-align: left;
    width: 20%;

}

.nav-list {
    margin-right: 100px;
    text-align: right;
    float: left;
    width: 80%;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a {
    color: #222222;
    text-decoration: none;
    display: block;
}

ol > li {
    float: left;
    width: 150px;
    height: 40px;
    text-align: center;
}

ol > li:first-child {
}

ol > li:hover {
    background-color: #bbbbb1;
}

ol > li:hover > a {
    color: black;
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {

    position: relative;
    z-index: 100;
}

ol > li > ul > li:hover {
    background-color: #bbbbb1;
}

ol > li > ul > li:hover > a {
    color: black;
}

.big-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;

}

.article {
    display: inline-block;
    width: 28%;
    text-align: center;
    padding: 3%;
    background-color: #fffff0;
height: 525px;

}

.article-in {
    display: flex;
    position: relative;
    height: 100%;
    background-color: white;
    transition: transform 0.2s;
    box-shadow: 5px 3px 3px gray;
    /*border: solid 1px black;*/
}

.article-in:hover {
    transform: scale(1.1);
}

h2 {
    text-align: left;
    padding: 5px;
}

p {
    padding-left: 10px;

    text-align: left;
}

.open-popup{

    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 50%;
    text-align: center;
    padding-top: 20px;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    overflow: auto;

}

h2{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.article-in img{
    max-width: 100%;
    height: 300px;
}
.p-popup{

    background: white;
    padding-left: 10px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button-show {
    text-align: center;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 30px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: black;
    outline: 0;
}

.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
